.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button {
  border: red 2px solid;
  border-radius: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  background-color: rgb(138, 43, 226);
  transition: all 0.3s;
}
button:hover {
  background-color: rgba(137, 43, 226, 0.525);
  color: whitesmoke;
  outline: auto;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.add-todo {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
input {
  padding: 0.5rem 1rem;
}

.addBtn {
  align-self: flex-end;
}
